.rodape {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #863D3D;
    color: white;
    text-align: center;
}

.rodape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
}

.rodape-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.rodape-icones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.rodape-sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.rodape-texto {
    width: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    color: #FFFFFF;
}

span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}