<div class="rodape">

    <div class="rodape-container">

        <!-- Informações de Contato -->
        <div class="rodape-contato">

            <!-- Redes Sociais -->
            <div class="rodape-icones">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
            </div>

            <!-- Telefone de Contato -->
            <p class="rodape-texto">Contato: <span>+55 (00) 11111-1111</span></p>

        </div>


        <div class="rodape-sobre">
            <p class="rodape-texto">Sobre Nós</p>
            <p class="rodape-texto">Delivery</p>
            <p class="rodape-texto">Ajuda e Suporte</p>
        </div>


    </div>

</div>