<div class="cabecalho">

    <!-- Header -->
    <div class="cabecalho-container">

        <!-- Logo -->
        <div class="cabecalho-elementos">
            <img src="./assets/logo.png" class="logo" alt="Logo Sugar Rush">
            <p class="logo-titulo">SugarRush</p>
        </div>

        <!-- Saudação -->
        <div class="cabecalho-elementos">
            <p class="logo-saudacao">Bem vindo (a),</p>
            <p class="logo-usuario" *ngFor="let usuario of usuarios">{{usuario.conta_nome}}</p>
        </div>

    </div>

</div>