<!-- Cards de Loja -->
<div class="lojas">

    <div class="lojas-container">

        <div *ngFor="let loja of lojas" id="{{loja.conta_id}}">

            <div class="card" (click)="VerCardapio(loja)">
    
                <!-- Nome da Loja -->
                <p class="card-titulo">{{loja.conta_nome}}</p>
                <!-- Imagem -->
                <img src="./assets/sugarrush.png" class="card-imagem aproximar" alt="Logo Sugar Rush">
                <!-- Endereço -->
                <div class="aproximar">
                    <p class="card-endereco">{{loja.conta_rua}}, {{loja.conta_numero}} {{loja.conta_complemento}}</p>
                    <p class="card-endereco aproximar">Bairro {{loja.conta_bairro}}</p>
                    <p class="card-endereco aproximar">CEP: {{loja.conta_cep}}</p>
                </div>
        
                <!-- Status -->
                <p class="card-status" [style.color] = "corAberto" *ngIf="loja.conta_status == 1; else Blockstatus01">Aberto</p>
        
                <ng-template #Blockstatus01>
                    <p class="card-status" [style.color] = "corFechado">Fechado</p>
                </ng-template>
        
            </div>

        </div>
        
    </div>

</div>