<div class="login-screen">

    <div class="imagem-lateral" #imagemLateral></div>

    <div class="login-container" [ngStyle]="{'margin-left.px': imagemLateral.offsetWidth}">

        <div class="infos-login">

            <h1>Login</h1>

            <div class="login-input-container">
                <p class="input-label">E-mail</p>
                <input class="aproximar" type="text" type="email" name="emailUsuario" [(ngModel)]="emailUsuario" placeholder="Insira seu e-mail aqui" />
            </div>

            <div class="login-input-container">
                <p class="input-label">Senha</p>
                <input class="aproximar" type="text" type="password" name="senhaUsuario" [(ngModel)]="senhaUsuario" placeholder="Insira sua senha aqui" />
            </div>

            <div class="botao-login-container">
                <div class="botao-login" (click)="FazerLogin()">Entrar</div>
            </div>

        </div>

    </div>
</div>